In [2]:
import pandas as pd

# DataFrame
DataFrame is a two-dimensional, size-mutable, and heterogeneous data structure.  
Head : give us the give row of the data  
index : give us the changeable index

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"] , index = ["x","y","z"])
df.head()

In [ ]:
df.head(1)   #give us the 1st line

In [ ]:
df.info()  # give us the info of the dataframe

In [ ]:
df.describe() # give us the mode,count,median etc of the data

In [ ]:
df.nunique() # unique value in the column
df['A'].unique() # unique value of the specific column

In [ ]:
df.shape #number of column and rows

# Accessing Data

In [248]:
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [ ]:
# coffee
# print(coffee)
# display(coffee)
# coffee.head()
# coffee.head(10)
# coffee.tail()
# coffee.tail(10)
#coffee.sample(10)   #give us the diff piece of data
#coffee.sample(10, random_state=1)

### loc 
allow us by filter row and columns, Used to access rows and columns by labels (row/column names or indices).Includes both start and end indices when slicing.

In [ ]:
coffee.loc[[0,1,5]]

In [ ]:
coffee.loc[2:]    # index 2 onwards

In [ ]:
coffee.loc[2:12]

In [ ]:
coffee.loc[2:8,["Day","Units Sold"]]

In [138]:
coffee.loc[1:3, "Units Sold"] = 10
# setting the value usnig loc

### iloc
Used to access rows and columns by their integer positions (like Python lists). Does not include the end index in slicing.

In [ ]:
coffee.iloc[0:8 , [0,2]]

### index

In [ ]:
coffee.index = coffee["Day"]

In [ ]:
coffee.loc["Monday" : "Wednesday"]

In [ ]:
coffee.loc["Monday" : "Wednesday" , "Units Sold"]

### Accessing Single value .at / .iat

In [ ]:
coffee.at[0,"Units Sold"]

### sort the data

In [ ]:
coffee.sort_values("Units Sold",)

In [ ]:
coffee.sort_values("Units Sold",ascending = False)

In [ ]:
coffee.sort_values(["Units Sold","Coffee Type"] , ascending = [1,0])

### Iteration

In [ ]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("\n")

for index, row in coffee.iterrows():
    print(index)
    print(row["Units Sold"])
    print("\n")

# Filtering Data

### loc

In [ ]:
coffee.loc[coffee['Units Sold'] > 25]

In [ ]:
coffee.loc[coffee['Units Sold'] > 25 , ['Coffee Type']]

### binary method

In [ ]:
coffee[coffee['Units Sold'] > 25] #without loc

In [ ]:
coffee[coffee['Units Sold'] > 25 ] [['Coffee Type']] #without loc

In [ ]:
coffee[(coffee['Units Sold'] > 25) & (coffee['Coffee Type'] == 'Latte')]

In [ ]:
coffee[coffee['Day'].str.contains("Tue")]

In [ ]:
coffee[coffee['Day'].str.contains("tue", case=False)]

### query function

In [231]:
coffee.query('Day == "Monday"')

      Day Coffee Type  Units Sold
0  Monday    Espresso          25
1  Monday       Latte          15

In [ ]:
coffee.query('Day == "Monday" and Coffee_Type == "Latte"')

# Add and Remove

In [264]:
 coffee['Units Sold'] = 10

In [266]:
coffee['price'] = 4.99

In [ ]:
import numpy as np
coffee['new_price'] = np.where(coffee['Coffee Type']== 'Espresso',3.99,5.99)
coffee

In [ ]:
coffee.drop(0)

In [ ]:
coffee.drop(columns=['price'])

In [272]:
coffee['revenue'] = coffee['Units Sold']* coffee['new_price']

# Rename the Column

In [4]:
coffee.rename(columns={'revenue':'gain'})

NameError: name 'coffee' is not defined