In [2]:
import pandas as pd

# DataFrame
DataFrame is a two-dimensional, size-mutable, and heterogeneous data structure.  
Head : give us the give row of the data  
index : give us the changeable index

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"] , index = ["x","y","z"])
df.head()

In [ ]:
df.head(1)   #give us the 1st line

In [ ]:
df.info()  # give us the info of the dataframe

In [ ]:
df.describe() # give us the mode,count,median etc of the data

In [ ]:
df.nunique() # unique value in the column
df['A'].unique() # unique value of the specific column

In [ ]:
df.shape #number of column and rows

# Accessing Data

In [248]:
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [ ]:
# coffee
# print(coffee)
# display(coffee)
# coffee.head()
# coffee.head(10)
# coffee.tail()
# coffee.tail(10)
#coffee.sample(10)   #give us the diff piece of data
#coffee.sample(10, random_state=1)

### loc 
allow us by filter row and columns, Used to access rows and columns by labels (row/column names or indices).Includes both start and end indices when slicing.

In [ ]:
coffee.loc[[0,1,5]]

In [ ]:
coffee.loc[2:]    # index 2 onwards

In [ ]:
coffee.loc[2:12]

In [ ]:
coffee.loc[2:8,["Day","Units Sold"]]

In [138]:
coffee.loc[1:3, "Units Sold"] = 10
# setting the value usnig loc

### iloc
Used to access rows and columns by their integer positions (like Python lists). Does not include the end index in slicing.

In [ ]:
coffee.iloc[0:8 , [0,2]]

### index

In [ ]:
coffee.index = coffee["Day"]

In [ ]:
coffee.loc["Monday" : "Wednesday"]

In [ ]:
coffee.loc["Monday" : "Wednesday" , "Units Sold"]

### Accessing Single value .at / .iat

In [ ]:
coffee.at[0,"Units Sold"]

### sort the data

In [ ]:
coffee.sort_values("Units Sold",)

In [ ]:
coffee.sort_values("Units Sold",ascending = False)

In [ ]:
coffee.sort_values(["Units Sold","Coffee Type"] , ascending = [1,0])

### Iteration

In [ ]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("\n")

for index, row in coffee.iterrows():
    print(index)
    print(row["Units Sold"])
    print("\n")

# Filtering Data

### loc

In [ ]:
coffee.loc[coffee['Units Sold'] > 25]

In [ ]:
coffee.loc[coffee['Units Sold'] > 25 , ['Coffee Type']]

### binary method

In [ ]:
coffee[coffee['Units Sold'] > 25] #without loc

In [ ]:
coffee[coffee['Units Sold'] > 25 ] [['Coffee Type']] #without loc

In [ ]:
coffee[(coffee['Units Sold'] > 25) & (coffee['Coffee Type'] == 'Latte')]

In [ ]:
coffee[coffee['Day'].str.contains("Tue")]

In [ ]:
coffee[coffee['Day'].str.contains("tue", case=False)]

### query function

In [231]:
coffee.query('Day == "Monday"')

      Day Coffee Type  Units Sold
0  Monday    Espresso          25
1  Monday       Latte          15

In [ ]:
coffee.query('Day == "Monday" and Coffee_Type == "Latte"')

# Add and Remove

In [264]:
 coffee['Units Sold'] = 10

In [266]:
coffee['price'] = 4.99

In [ ]:
import numpy as np
coffee['new_price'] = np.where(coffee['Coffee Type']== 'Espresso',3.99,5.99)
coffee

In [ ]:
coffee.drop(0)

In [ ]:
coffee.drop(columns=['price'])

In [272]:
coffee['revenue'] = coffee['Units Sold']* coffee['new_price']

### Rename the Column

In [ ]:
coffee.rename(columns={'revenue':'gain'})

In [14]:
import pandas as pd

In [16]:
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')

In [21]:
bios_new = bios.copy()

In [23]:
bios_new['firstname'] = bios_new['name'].str.split(' ').str[0]

In [ ]:
bios_new

### Change the date in to date object

In [28]:
bios_new['born_datetime']= pd.to_datetime(bios_new['born_date'])

In [ ]:
# create the year column from the object of the date
bios_new['born_year'] = bios_new['born_datetime'].dt.year
bios_new[['name','born_year']]

###  Lamda and custom functions

In [45]:
bios['height_category'] = bios['height_cm'].apply(lambda x: 'Short' if x < 165 else ('Average' if x < 185 else 'Tall'))
bios.head()

In [51]:
def category_athlete(row):
    if row['height_cm'] < 175 and row ['weight_kg'] < 70:
        return 'Lightweight'
    elif row['height_cm'] < 185 and row ['weight_kg'] <= 80:
         return 'Middleweight'
    else :
         return 'Heavyweight'
bios['Category'] = bios.apply(category_athlete,axis = 1)

In [ ]:
bios

# Merging and Concatenating Data

In [60]:
nocs = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv')
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')

In [ ]:
bios_new = pd.merge(bios,nocs,left_on='born_country', right_on='NOC', how = 'left')
bios_new

In [68]:
bios_new.rename(columns={'region':'born_country_full'}, inplace=True)
bios_new.head()

In [ ]:
bios_new[bios_new['NOC_x'] != bios_new['born_country_full']][['name','NOC_x','born_country_full']]

In [80]:
usa = bios[bios['born_country']=='USA'].copy()
gbr = bios[bios['born_country']=='GBR'].copy()

In [88]:
new_df = pd.concat([usa,gbr])

# Handling NaN values

In [103]:
import numpy as np
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [105]:
coffee.loc[[0,1], 'Units Sold'] = np.nan

In [109]:
coffee.isna().sum()

Day            0
Coffee Type    0
Units Sold     2
dtype: int64

In [119]:
coffee.fillna(10000)
coffee.fillna(coffee['Units Sold'].mean())

          Day Coffee Type  Units Sold
0      Monday    Espresso        35.0
1      Monday       Latte        35.0
2     Tuesday    Espresso        30.0
3     Tuesday       Latte        20.0
4   Wednesday    Espresso        35.0
5   Wednesday       Latte        25.0
6    Thursday    Espresso        40.0
7    Thursday       Latte        30.0
8      Friday    Espresso        45.0
9      Friday       Latte        35.0
10   Saturday    Espresso        45.0
11   Saturday       Latte        35.0
12     Sunday    Espresso        45.0
13     Sunday       Latte        35.0

In [ ]:
coffee['Units Sold'].interpolate()

In [ ]:
coffee.dropna()
coffee = coffee.dropna(subset=['Units Sold'], inplace = True)

In [ ]:
coffee[coffee['Units Sold'].notna()]

# Aggregating Data

In [ ]:
bios['born_city'].value_counts()

In [ ]:
bios[bios['born_country'] == 'USA']['born_region'].value_counts()

In [ ]:
 coffee.groupby(['Coffee Type'])['Units Sold'].mean()

In [ ]:
 coffee.groupby(['Coffee Type'])['Units Sold'].sum()

In [ ]:
coffee['price'] = 4.99
coffee.groupby(['Coffee Type', 'Day']).agg({'Units Sold': 'sum' , 'price' : 'mean'})

In [ ]:
coffee.groupby(['Coffee Type']).agg({'Units Sold': 'sum' , 'price' : 'mean'})